{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<section class="bg-[#E0E7FF] h-screen flex items-center justify-center">
		<div class="bg-white flex flex-col p-6 gap-4 rounded-xl shadow-md w-full max-w-md">
			<div>
				<h1>Gestion de Tâches</h1>
			</div>
			<p class="text-gray-600">Organisez votre journée efficacement.</p>
			<div class="flex flex-col">

				{{ form_errors(registrationForm) }}
				{{ form_start(registrationForm) }}

				{{ form_label(registrationForm.email) }}
				{{ form_widget(registrationForm.email, 
                {attr: {class: 'w-full text-gray-600 bg-[#F3F3F5] h-10 mb-4 rounded-md', 
                placeholder: 'votre@email.com'}}) }}
				{{ form_errors(registrationForm.email) }}

				{{ form_label(registrationForm.username, 'Nom d\'utilisateur') }}
                {{ form_widget(registrationForm.username, 
                {attr: {class: 'w-full text-gray-600 bg-[#F3F3F5] h-10 mb-4 rounded-md', 
                placeholder: 'nom d\'utilisateur'}}) }}
				{{ form_errors(registrationForm.username) }}

				{{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
				{{ form_widget(registrationForm.plainPassword, 
                {attr: {class: 'w-full h-10 text-gray-600 bg-[#F3F3F5] mb-4 rounded-md', 
                placeholder: '*******'}}) }}
				{{ form_errors(registrationForm.plainPassword) }}
				

				<button type="submit" class="btn h-10 bg-black text-white w-full rounded-sm">S'inscrire</button>
				{{ form_end(registrationForm) }}
			</div>

		</div>


	</section>
{% endblock %}
